# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Unnecessary files
HOW_TO_DELETE_USERS.md
HOW_TO_VIEW_ROLES.md
HOW_TO_DELETE_USERS.md
README.md
DEPLOYMENT_CHECKLIST.md
DEPLOYMENT.md